@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 98% 1;
    --bodyground: #F8F8F8;

    --muted: 275 46% 27%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 98% 1;

    --card: 0 0% 100%;
    --card-border: 214.3 31.8% 91.4%;
    --card-border-tint: 112 205 159;
    --card-foreground: 0 0% 98% 1;

    --widget: 0 0% 12%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 9 98% 59%;
    --primary-foreground: 95.08 71.08% 10%;

    --secondary: 275 46% 27%;
    --secondary-foreground: 0 100% 100%;

    --accent: 275 46% 27%;
    --accent-foreground: 0 0% 98% 1;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 9 98% 59%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
    --bodyground: #040404;

    --muted: 275 46% 27%;
    --muted-foreground: 0 0% 85%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 90%;

    --card: 0 0% 10%;
    --card-border: 0 0% 27.9%;
    --card-border-tint: 112 205 159;
    --card-foreground: 0 0% 95%;

    --border: 0 0% 27.9%;
    --input: 0 0% 27.9%;

    --primary: 9 98% 59%;
    --primary-foreground: 95.08 71.08% 10%;

    --secondary: 275 46% 27%;
    --secondary-foreground: 9 98% 59%;

    --accent: 0 0% 27.9%;
    --accent-foreground: 9 98% 59%;

    --destructive: 0 87% 62%;
    --destructive-foreground: 0 87% 19%;

    --ring: 9 98% 59%;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .container {
    @apply max-sm:px-4;
  }
}